* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(221, 223, 228);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.random-content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	gap: 10px;
}

.random-content p {
	font-size: 20px;
	font-style: italic;
}

.stack-area {
	height: 200vh;
}

.sticky-wrapper {
	position: sticky;
	top: 0;
	height: 100vh;
	display: flex;
}

.left-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
	font-size: large;
}

.content h1 {
	font-size: 60px;
}

.right-container {
	width: 50%;
	height: 100%;
}

.card-stack {
	position: relative;
	width: 100%;
	height: 100%;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75vw;
	max-width: 350px;
	height: 75vw;
	max-height: 350px;
	border-radius: 35px;
	padding: 40px 30px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 0.5s ease-in-out;
}

.card:nth-child(1) {
	background: dodgerblue;
	z-index: 4;
}

.card:nth-child(2) {
	background: mediumseagreen;
	z-index: 3;
}

.card:nth-child(3) {
	background: hotpink;
	z-index: 2;
}

.card:nth-child(4) {
	background: rgb(170, 95, 231);
	z-index: 1;
}

.card.away {
	transform: translate(-50%, -120vh) rotate(-40deg);
}

.card-content p {
	font-weight: 700;
	font-size: 35px;
}

@media only screen and (max-width: 900px) {
	.sticky-wrapper {
		flex-direction: column;
	}

	.left-container,
	.right-container {
		width: 100%;
		height: 50vh;
	}

	.card {
		font-size: 15px;
	}

	.card-content p {
		font-size: 25px;
	}
}
